<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/condominios</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="com.ipn.mx.model.dto.Departamento" />
    <mapping class="com.ipn.mx.model.dto.Usuario" />
    <mapping class="com.ipn.mx.model.dto.Edificio" />
    <mapping class="com.ipn.mx.model.dto.Gas" />
    <mapping class="com.ipn.mx.model.dto.Gastos" />
    <mapping class="com.ipn.mx.model.dto.Ingresos" />
    <mapping class="com.ipn.mx.model.dto.Mantenimiento" />
    <mapping class="com.ipn.mx.model.dto.configuracionGas" />
    <mapping class="com.ipn.mx.model.dto.configuracionMtto" />
  </session-factory>
</hibernate-configuration>
